In [2]:
# Reverse the number without string

num = 1234
result = 0
while num > 0:
    rem = num % 10
    result = result * 10  + rem
    num = num // 10
print(result)

4321

In [4]:
# Reverse the number without string

num = 78056
result = 0
while num > 0:
    rem = num % 10
    result = result * 10  + rem
    num = num // 10
    print(rem, num, result)
print(result)

6 7805 6
5 780 65
0 78 650
8 7 6508
7 0 65087
65087

In [6]:
# print all odd numbers from 1 to 30
for i in range(31):
    if i % 2 != 0:
        print(i, end=' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29

In [7]:
# print all even numbers from 1 to 30
for i in range(31):
    if i % 2 == 0:
        print(i, end=' ')

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30

In [ ]:
# print all numbers which are divisible by 7 from 1 to 100
for i in range(31):
    if i % 2 != 0:
        print(i, end=' ')

In [10]:
# print all numbers which are divisible by 7 from 1 to 100
for i in range(1, 100):
    if i % 7 == 0:
        print(i, end=' ')

7 14 21 28 35 42 49 56 63 70 77 84 91 98

In [20]:
# check if any number is prime or not
n = int(input('ENter any num: '))
boolean = True
for i in range(2, n):
    if n % i  == 0:
        boolean = False
if boolean == True:
    print('prime')
else:
    print('Non-Prime')

ENter any num: 7
prime

### break, continue, pass

In [21]:
for i in range(10):
    if i == 7:
        break;
    else:
        print(i, end=' ')

0 1 2 3 4 5 6

In [22]:
for i in range(10):
    if i == 7:
        continue;
    else:
        print(i, end=' ')

0 1 2 3 4 5 6 8 9

In [23]:
for i in range(10):
    if i == 7:
        continue;
        print(7, end=' ')
    else:
        print(i, end=' ')

0 1 2 3 4 5 6 8 9

In [34]:
for i in range(5):
    pass

if 56>23:
    pass

def function():
    pass

class abc:
    pass

In [26]:
# check if any number is prime or not
n = int(input('ENter any num: '))
boolean = True
for i in range(2, n):
    if n % i  == 0:
        boolean = False
        break
if boolean == True:
    print('prime')
else:
    print('Non-Prime')

ENter any num: 44444444444444444444444444
Non-Prime

In [30]:
# Generate first n fibonacci numbers
n = int(input('Enter number: '))
first = 0
second = 1
print(first, end=' ')
print(second, end=' ')
for i in range(n-2):
    third = first + second
    print(third, end=' ')
    first = second
    second = third

Enter number: 10
0 1 1 2 3 5 8 13 21 34

In [ ]:
0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610

In [35]:
boolean = 55 > 33
boolean

True

In [37]:
boolean = 55 > 33
if boolean == True:
    print('55')
else:
    print('33')

55

In [38]:
boolean = 55 > 33
if boolean:
    print('55')
else:
    print('33')

55

In [39]:
# check if any number is prime or not
n = int(input('ENter any num: '))
boolean = True
for i in range(2, n):
    if n % i  == 0:
        boolean = False
if boolean:
    print('prime')
else:
    print('Non-Prime')

ENter any num: 45
Non-Prime

syntax-

## for condition:
## else:

In [40]:
else:
    print('hsdhfgk')

SyntaxError: invalid syntax (3368583373.py, line 1)

In [42]:
for i in range(10):
    print(i, end=' ')
else:
    print('\nFor loop ended')

0 1 2 3 4 5 6 7 8 9
For loop ended

In [46]:
for i in range(1, 15):
    if i % 9 == 0:
        print(i, end=' ')
        break;    
else:
    print('\nFor loop ended')

SyntaxError: invalid syntax (393105111.py, line 5)

In [56]:
# check if any number is prime or not
n = int(input('Enter any num: '))
# boolean = True
for i in range(2, n):
    print(n, i)
    if n % i  == 0:
        print('Non prime')
        break
else:
    print('Prime')

Enter any num: 7
7 2
7 3
7 4
7 5
7 6
Prime

In [57]:
# check if any number is prime or not
n = int(input('Enter any num: '))
# boolean = True
for i in range(2, n):
#     print(n, i)
    if n % i  == 0:
        print('Non prime')
        break
else:
    print('Prime')

Enter any num: 349
Prime

In [61]:
# generate all prime numbers between 1 to 1000
n = 1000
for num in range(2, n):
    boolean = True
    for i in range(2, num):
        if num % i == 0:
            boolean = False;
            break
    if boolean:
        print(num, end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199 211 223 227 229 233 239 241 251 257 263 269 271 277 281 283 293 307 311 313 317 331 337 347 349 353 359 367 373 379 383 389 397 401 409 419 421 431 433 439 443 449 457 461 463 467 479 487 491 499 503 509 521 523 541 547 557 563 569 571 577 587 593 599 601 607 613 617 619 631 641 643 647 653 659 661 673 677 683 691 701 709 719 727 733 739 743 751 757 761 769 773 787 797 809 811 821 823 827 829 839 853 857 859 863 877 881 883 887 907 911 919 929 937 941 947 953 967 971 977 983 991 997

In [62]:
# genrate table like below
# 7 * 1 = 7
# 7 * 2 = 14

num = int(input('Enter number: '))
for i in range(1, 11):
    print(num, '*', i, '=', num*i)

Enter number: 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [65]:
# x power y
x = int(input('X= '))
y = int(input('Y= '))
result = 0
for i in range(y):
    result = result * x
print(result)

X= 2
Y= 5
0

In [66]:
# x power y
x = int(input('X= '))
y = int(input('Y= '))
result = 1
for i in range(y):
    result = result * x
print(result)

X= 2
Y= 5
32

In [67]:
# x * y using for loop
x = int(input('X= '))
y = int(input('Y= '))
result = 0
for i in range(y):
    result = result + x
print(result)

X= 5
Y= 8
40

In [71]:
# factors of a number
num = 45
for i in  range(1, 45+1):
    if num % i == 0:
        print(i, end=' ')

1 3 5 9 15 45

In [10]:
a = 20
b = 60
sum1 = a
sum2 = b
while True:    
    if sum1 < sum2:
        sum1 += a
    else :
        sum2 += b
    if sum1 == sum2:
        break
print(sum1)

60

In [75]:
# lcm
num1 = 45
num2 = 18

small = num1 if num1 < num2 else num2

print(small)
lcm = 1
for i in range(1, small+1):
    if num1 % i  == 0 and num2 % i == 0:
        lcm *= lcm

        print(lcm)

18

In [ ]:
a = 20
b = 60
comman