## Indentations in loops

In [4]:
def fun():

    print('first line')

    # Example 1: Simple While Loop
    count = 0
    print('dfdf')
    while count < 5:
        print(count)
        count += 1

    # Example 2: Using the `break` statement
    number = 1
    while True:
        print(number)
        number += 1
        if number > 5:
            break

    # Example 3: Using the `continue` statement
    i = 0
    while i < 6:
        i += 1
        if i == 3:
            continue
    print(i)
    print('last line')

fun()

first line
dfdf
0
1
2
3
4
1
2
3
4
5
6
last line

In [ ]:
## different indentation in fun() and for loop is allowed
def fun():
  print('I am in function')
  print('function ended')

for i in range(10):
	print(i, end=' ')
	

for i in range(10):
	print(i, end=' ')
fun()

In [8]:
slogan = 'Freedom is our birthright! Unity in Diversity! India, where every heart beats with pride!'
count = 0
for i in slogan:
    count += 1
print(count)

89

In [5]:
slogan = 'Freedom is our birthright! Unity in Diversity! India, where every heart beats with pride!'

if 'i' in slogan:
    print('i is present')

i is present

In [18]:
# Count following from string
# 	1. Alphabets
# 	2. Digits
# 	3. Vowels
# 	4. Consonents
# 	5. Lower case chars
# 	6. Upper case chars
# 	7. Special symbols


string = """Key Milestones

    1988: CDAC established as a scientific society of the Ministry of Electronics and Information Technology, Government of India.
    1990: CDAC develops India 's first supercomputer, the PARAM 8000.
    1992: CDAC establishes its first center outside Pune, in Mumbai.
    2000: CDAC initiates research projects in areas such as artificial intelligence and data analytics.
    2010: CDAC establishes its first laboratory for cybersecurity research.
    2015: CDAC launches its first startup accelerator program.
"""
alpha = 0
str_len = 0

for char in string:
    str_len += 1
print('String lenght =', str_len)

for char in string:
    if char > 'A' and char < 'Z' or char > 'a' and char < 'z':
        alpha += 1
print(alpha)

String lenght = 529
351

In [13]:
print(ord('z'), ord('A'))

122 65