## Indentations in loops

In [4]:
def fun():

    print('first line')

    # Example 1: Simple While Loop
    count = 0
    print('dfdf')
    while count < 5:
        print(count)
        count += 1

    # Example 2: Using the `break` statement
    number = 1
    while True:
        print(number)
        number += 1
        if number > 5:
            break

    # Example 3: Using the `continue` statement
    i = 0
    while i < 6:
        i += 1
        if i == 3:
            continue
    print(i)
    print('last line')

fun()

first line
dfdf
0
1
2
3
4
1
2
3
4
5
6
last line

In [ ]:
## different indentation in fun() and for loop is allowed
def fun():
  print('I am in function')
  print('function ended')

for i in range(10):
	print(i, end=' ')
	

for i in range(10):
	print(i, end=' ')
fun()

In [8]:
slogan = 'Freedom is our birthright! Unity in Diversity! India, where every heart beats with pride!'
count = 0
for i in slogan:
    count += 1
print(count)

89

In [5]:
slogan = 'Freedom is our birthright! Unity in Diversity! India, where every heart beats with pride!'

if 'i' in slogan:
    print('i is present')

i is present

In [30]:
# Count following from string
# 	1. Alphabets
# 	2. Digits
# 	3. Vowels
# 	4. Consonents
# 	5. Lower case chars
# 	6. Upper case chars
# 	7. Special symbols


string = """Key Milestones

    1988: CDAC established as a scientific society of the Ministry of Electronics and Information Technology, Government of India.
    1990: CDAC develops India 's first supercomputer, the PARAM 8000.
    1992: CDAC establishes its first center outside Pune, in Mumbai.
    2000: CDAC initiates research projects in areas such as artificial intelligence and data analytics.
    2010: CDAC establishes its first laboratory for cybersecurity research.
    2015: CDAC launches its first startup accelerator program.
"""
alpha = 0
str_len = 0
digits = 0
vowels = 0
consonents = 0
lowercase = 0
uppercase = 0
special_symbol = 0

for char in string:
    str_len += 1
print('String lenght =', str_len)

for char in string:
    if char >= 'A' and char <= 'Z' or char >= 'a' and char <= 'z':
        alpha += 1
print('Alphabets =', alpha)

for char in string:
    if char >= '0' and char <= '9':
        digits += 1
print('Digits =', digits)


for char in string:
    if char in ['a','e','i','o','u','A','E','I','O','U',]:
        vowels += 1
print('Vowels =', vowels)

for char in string:
    if char >= 'A' and char <= 'Z' or char >= 'a' and char <= 'z':
        if char not in ['a','e','i','o','u','A','E','I','O','U',]:
            consonents += 1
print('Consonents =', consonents)

for char in string:
    if char >= 'a' and char <= 'z':
        lowercase += 1
print('Lowercase =', lowercase)

for char in string:
    if char >= 'A' and char <= 'Z':
        uppercase += 1
print('Uppercase =', uppercase)

special_symbol_list = '~!@#$%^&*()+=-_,.<>;:[]{}\/?'
for char in string:
    if char in special_symbol_list:
        special_symbol += 1
print('Special symbol =', special_symbol)

String lenght = 529
Alphabets = 389
Digits = 28
Vowels = 146
Consonents = 243
Lowercase = 349
Uppercase = 40
Special symbol = 15

In [33]:
# Count following from string
# 	1. Alphabets
# 	2. Digits
# 	3. Vowels
# 	4. Consonents
# 	5. Lower case chars
# 	6. Upper case chars
# 	7. Special symbols


string = 'Cdac@123'
alpha = 0
str_len = 0
digits = 0
vowels = 0
consonents = 0
lowercase = 0
uppercase = 0
special_symbol = 0

print(string)

for char in string:
    str_len += 1
print('String lenght =', str_len)

for char in string:
    if char >= 'A' and char <= 'Z' or char >= 'a' and char <= 'z':
        alpha += 1
print('Alphabets =', alpha)

for char in string:
    if char >= '0' and char <= '9':
        digits += 1
print('Digits =', digits)


for char in string:
    if char in ['a','e','i','o','u','A','E','I','O','U',]:
        vowels += 1
print('Vowels =', vowels)

for char in string:
    if char >= 'A' and char <= 'Z' or char >= 'a' and char <= 'z':
        if char not in ['a','e','i','o','u','A','E','I','O','U',]:
            consonents += 1
print('Consonents =', consonents)

for char in string:
    if char >= 'a' and char <= 'z':
        lowercase += 1
print('Lowercase =', lowercase)

for char in string:
    if char >= 'A' and char <= 'Z':
        uppercase += 1
print('Uppercase =', uppercase)


special_symbol_list = '~!@#$%^&*()+=-_,.<>;:[]{}\/? '
for char in string:
    if char in special_symbol_list:
        special_symbol += 1
print('Special symbol =', special_symbol)

Cdac@123
String lenght = 8
Alphabets = 4
Digits = 3
Vowels = 1
Consonents = 3
Lowercase = 3
Uppercase = 1
Special symbol = 1

In [34]:
n =  7
for i in range(n):
    for j in range(n):
        print(i,j)

0 0
0 1
0 2
0 3
0 4
0 5
0 6
1 0
1 1
1 2
1 3
1 4
1 5
1 6
2 0
2 1
2 2
2 3
2 4
2 5
2 6
3 0
3 1
3 2
3 3
3 4
3 5
3 6
4 0
4 1
4 2
4 3
4 4
4 5
4 6
5 0
5 1
5 2
5 3
5 4
5 5
5 6
6 0
6 1
6 2
6 3
6 4
6 5
6 6

In [35]:
n =  7
for i in range(n):
    for j in range(n):
        print(j, i)

0 0
1 0
2 0
3 0
4 0
5 0
6 0
0 1
1 1
2 1
3 1
4 1
5 1
6 1
0 2
1 2
2 2
3 2
4 2
5 2
6 2
0 3
1 3
2 3
3 3
4 3
5 3
6 3
0 4
1 4
2 4
3 4
4 4
5 4
6 4
0 5
1 5
2 5
3 5
4 5
5 5
6 5
0 6
1 6
2 6
3 6
4 6
5 6
6 6

In [37]:
n =  7
for i in range(n):
    for j in range(n):
        print('*', end=' ')

* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

In [38]:
n =  7
for i in range(n):
    for j in range(n):
        print('*', end=' ')
    print()

* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *

In [42]:
n = 7
for i in range(n):
    print('* ' * n, end=' ')
    print()

* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *

In [43]:
n =  7
for i in range(n):
    for j in range(n):
        print('*', end='')
    print()

*******
*******
*******
*******
*******
*******
*******

In [47]:
n = 7
for i in range(n):
    print('*' * n, end=' ')
    print()

*******
*******
*******
*******
*******
*******
*******

In [51]:
n =  5
for i in range(n):
    for j in range(i+1):
        print('*', end='')
    print()

*
**
***
****
*****

In [55]:
n =  7
for i in range(n, 0, -1):
    for j in range(0, i):
        print('$', end='')
    for j in range(i):
        print('*', end='')
    print()

$$$$$$$*******
$$$$$$******
$$$$$*****
$$$$****
$$$***
$$**
$*

In [2]:
n =  7
for i in range(n, 0, -1):
    for j in range(n, i, -1):
        print(' ', end='')
    for j in range(i):
        print('*', end='')
    print()

*******
 ******
  *****
   ****
    ***
     **
      *

In [3]:
n =  7
for i in range(n):
    for j in range(i+1):
        print('*', end='')
    print()

*
**
***
****
*****
******
*******

In [8]:
n =  7
for i in range(n):
    for j in range(i+1):
        print('$', end='')
    for i in range(n, i, -1):
        print('*', end='')
    print()

$*******
$$******
$$$*****
$$$$****
$$$$$***
$$$$$$**
$$$$$$$*

In [9]:
n =  7
for i in range(n):
    for j in range(i+1):
        print(' ', end='')
    for i in range(n, i, -1):
        print('*', end='')
    print()

 *******
  ******
   *****
    ****
     ***
      **
       *

In [11]:
n =  7
for i in range(n, 0, -1):
    for j in range(n, i, -1):
        print(' ', end='')
    for j in range(i):
        print('*', end='')
    print()

n =  7
for i in range(n):
    for j in range(i):
        print(' ', end='')
    for i in range(n, i, -1):
        print('*', end='')
    print()

*******
 ******
  *****
   ****
    ***
     **
      *
*******
 ******
  *****
   ****
    ***
     **
      *

In [17]:
# n =  7
# for i in range(n, 0, -1):
#     for j in range(n, i, -1):
#         print(' ', end='')
#     for j in range(i):
#         print('*', end='')
#     print()


n = 7
for i in range(n):
    for j in range(n-i):
        print('$', end='')
    for j in range(i):
        print('*', end='')
    print()

$$$$$$$
$$$$$$*
$$$$$**
$$$$***
$$$****
$$*****
$******

In [18]:
n = 7
for i in range(n):
    for j in range(n-i):
        print(' ', end='')
    for j in range(i):
        print('*', end='')
    print()

      *
     **
    ***
   ****
  *****
 ******