In [ ]:
append() ->    Used for adding elements to the end of the List. 
copy() ->  It returns a shallow copy of a list
clear() -> This method is used for removing all items from the list. 
count() -> These methods count the elements.
extend() ->    Adds each element of an iterable to the end of the List
index() -> Returns the lowest index where the element appears. 
insert() ->    Inserts a given element at a given index in a list. 
pop() ->   Removes and returns the last value from the List or the given index value.
remove() ->    Removes a given object from the List. 
reverse() ->   Reverses objects of the List in place.
sort() ->  Sort a List in ascending, descending, or user-defined order
min() ->   Calculates the minimum of all the elements of the List
max() ->   Calculates the maximum of all the elements of the List

In [1]:
list2 = [1, 2, 'CBP', 77.88, [22,66,88], (1,3)]
for i in range(len(list2)):
    print(i, '->', list2[i], '->', type(list2))

0 -> 1 -> <class 'list'>
1 -> 2 -> <class 'list'>
2 -> CBP -> <class 'list'>
3 -> 77.88 -> <class 'list'>
4 -> [22, 66, 88] -> <class 'list'>
5 -> (1, 3) -> <class 'list'>

## Add items

## 1. append()

In [5]:
list1 = []
list1.append(45)
list1

[45]

In [6]:
list1.append(39)
list1

[45, 39]

In [7]:
list1.append('CBP Program 2024')
list1

[45, 39, 'CBP Program 2024']

In [8]:
list1.append({'a':[1,1,1], 'b':[2,2,2]})
list1

[45, 39, 'CBP Program 2024', {'a': [1, 1, 1], 'b': [2, 2, 2]}]

In [33]:
l = [1,2]
l

[1, 2]

In [34]:
l.append(3,4)

TypeError: list.append() takes exactly one argument (2 given)

In [35]:
l.append([3,4])

In [36]:
l

[1, 2, [3, 4]]

In [37]:
list = [1,2,3,4]
list

[1, 2, 3, 4]

In [38]:
list1 = list()

TypeError: 'list' object is not callable

In [39]:
l = []
for i in range(1,21):
    l.append(0)
l

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [40]:
l = []
for i in range(1,21):
    l.append(i)
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [41]:
l = []
for i in range(1,21):
    l.append(i*3)
l

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60]

In [43]:
import random
ran_list = []
for i in range(10):
    ran_list.append(random.random())
ran_list

[0.42419747804607755,
 0.33049074530366285,
 0.942879973198804,
 0.9309134137407882,
 0.2991558864852566,
 0.025571981095666718,
 0.01741494212710748,
 0.3562987615944937,
 0.34413175375814,
 0.4412074446788623]

In [47]:
ran_list = []
for i in range(10):
    ran_list.append(random.randint(51,100))
ran_list

[99, 66, 75, 93, 88, 65, 78, 59, 100, 55]

## 2. extend()

In [14]:
l = [1,2]
l

[1, 2]

In [15]:
l.extend([3,4])
l

[1, 2, 3, 4]

In [48]:
5+6

11

In [49]:
l1 = [11,22,33,44]
l2 = ['aa','bb','cc','dd']
l1 + l2

[11, 22, 33, 44, 'aa', 'bb', 'cc', 'dd']

In [51]:
l1 = [11,22,33,44]
l2 = ['aa','bb','cc','dd']
l3 = l1 + l2
l3

[11, 22, 33, 44, 'aa', 'bb', 'cc', 'dd']

In [52]:
l1 = [11,22,33,44]
l2 = ['aa','bb','cc','dd']
l3 = l2 + l1
l3

['aa', 'bb', 'cc', 'dd', 11, 22, 33, 44]

## 3. insert(index, item)

In [53]:
l = [11,22,33,44]
l.insert(2, "some string")
l

[11, 22, 'some string', 33, 44]

In [55]:
l = [11,22,33,44]
l[2] = "some string"
l

[11, 22, 'some string', 44]

## enumerate()

In [56]:
l = [11,22,33,44]
for val in enumerate(l):
    print(val)

(0, 11)
(1, 22)
(2, 33)
(3, 44)

In [57]:
l = ['a', 'b', 'c', 'd', 'e',]
for val in enumerate(l):
    print(val)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [61]:
l = ['a', 'b', 'c', 'd', 'e',]
for i,j in enumerate(l):
    print(i, '->', j)

0 -> a
1 -> b
2 -> c
3 -> d
4 -> e

In [63]:
l = ['a', 'b', 'c', 'd', 'e',]
for index, value in enumerate(l):
    print(index, '->', value)

0 -> a
1 -> b
2 -> c
3 -> d
4 -> e

In [68]:
list_1 = ['a', 'b', 'c', 'd', 'e',]
for index, value in enumerate(list_1):
    print(index, '->', value, '->', list_1[index])

0 -> a -> a
1 -> b -> b
2 -> c -> c
3 -> d -> d
4 -> e -> e

In [69]:
list_1 = ['a', 'b', 'c', 'd', 'e',]
for index in range(len(list_1)):
    print(index)

0
1
2
3
4

In [70]:
list_1[0]

'a'

In [71]:
list_1[2]

'c'

In [73]:
list_1 = ['a', 'b', 'c', 'd', 'e',]
for index in range(len(list_1)):
    print(index, '->', list_1[index])

0 -> a
1 -> b
2 -> c
3 -> d
4 -> e

In [ ]:
list_1 = ['a', 'b', 'c', 'd', 'e',]
for index in list_1:
    print(index, '->', list_1[index])

## Remove Items

### 1. remove(element)

In [74]:
list_1 = ['a', 'b', 'c', 'd', 'e',]
list_1.remove('d')
list_1

['a', 'b', 'c', 'e']

In [75]:
cities = ['Assam', 'Bihar', 'Maharashtra', 'W. Bengal', 'CHennai']

cities.remove('Bihar')

cities

['Assam', 'Maharashtra', 'W. Bengal', 'CHennai']

### 2. pop(index)
    - if no index is given it removes last element in lost
    - it reutrn removed element

In [88]:
states = ['Assam', 'Bihar', 'Maharashtra', 'W. Bengal', 'CHennai']

states.pop(3)

states

['Assam', 'Bihar', 'Maharashtra', 'CHennai']

In [89]:
states.pop()

'CHennai'

In [90]:
print(states)
state_name = states.pop()
print(state_name)

['Assam', 'Bihar', 'Maharashtra']
Maharashtra

In [91]:
states

['Assam', 'Bihar']

In [86]:
states = ['Assam', 'Bihar', 'Maharashtra', 'W. Bengal', 'CHennai']
for i in range(len(states)):
    state = states.pop()
    print(state)
print('All states removed')

CHennai
W. Bengal
Maharashtra
Bihar
Assam
All states removed

In [87]:
states = ['Assam', 'Bihar', 'Maharashtra', 'W. Bengal', 'CHennai']
for i in range(len(states)):
    state = states.pop()
    print(state)
print('All states removed')
states.pop()

CHennai
W. Bengal
Maharashtra
Bihar
Assam
All states removed

IndexError: pop from empty list

### 3. clear()

In [ ]:
- it removes all elements from list and makes it empty

In [92]:
states = ['Assam', 'Bihar', 'Maharashtra', 'W. Bengal', 'CHennai']
states.clear()
states

[]

In [93]:
states = ['Assam', 'Bihar', 'Maharashtra', 'W. Bengal', 'CHennai']
states.clear()
states

[]

In [95]:
states = ['Assam', 'Bihar', 'Maharashtra', 'W. Bengal', 'CHennai']
print(id(states))
states.clear()
print(id(states))

139847990276864
139847990276864

In [96]:
states = ['Assam', 'Bihar', 'Maharashtra', 'W. Bengal', 'CHennai']
print(id(states))
states = []
print(id(states))

139847990538496
139847990351360

In [98]:
l = [1,2,3]
print(id(l))
l = [2,3,4]
print(id(l))

139847989142080
139847989135616

### 4. del

In [100]:
states = ['Assam', 'Bihar', 'Maharashtra', 'W. Bengal', 'CHennai']
print(states)
del states[2]
print(states)

['Assam', 'Bihar', 'Maharashtra', 'W. Bengal', 'CHennai']
['Assam', 'Bihar', 'W. Bengal', 'CHennai']

## Other list functions

### 1. count(element)
    - it counts number of times element is repeated in list

In [103]:
l = []
for i in range(30):
    l.append(random.randint(11,20))
print(l)

[12, 18, 19, 17, 13, 11, 14, 20, 20, 13, 15, 11, 13, 11, 16, 16, 14, 13, 20, 17, 12, 13, 19, 13, 11, 19, 11, 12, 11, 16]

In [104]:
l = [12, 18, 19, 17, 13, 11, 14, 20, 20, 13, 15, 11, 13, 11, 16, 16, 14, 13, 20, 17, 12, 13, 19, 13, 11, 19, 11]

print(l.count(11))

5

### 2. listobject.sort()

In [105]:
list1 = [12, 18, 19, 17, 13, 11, 14, 20, 20, 13, 15, 11]

list1.sort()
list1

[11, 11, 12, 13, 13, 14, 15, 17, 18, 19, 20, 20]

In [106]:
list1 = [12, 18, 19, 17, 13, 11, 14, 20, 20, 13, 15, 11]

list1.sort(reverse=True)
list1

[20, 20, 19, 18, 17, 15, 14, 13, 13, 12, 11, 11]

In [108]:
list1 = [1,2,3,4, 'abc', 'apps']
list1.sort()
list1

TypeError: '<' not supported between instances of 'str' and 'int'

In [109]:
states = ['Assam', 'Bihar', 'Maharashtra', 'W. Bengal', 'CHennai']
states.sort()
states

['Assam', 'Bihar', 'CHennai', 'Maharashtra', 'W. Bengal']

In [110]:
states = ['Assam', 'Bihar', 'Maharashtra', 'W. Bengal', 'CHennai']
print(states.sort())
states

None

['Assam', 'Bihar', 'CHennai', 'Maharashtra', 'W. Bengal']

### sorted()

In [111]:
list1 = [12, 18, 19, 17, 13, 11, 14, 20, 20, 13, 15, 11]

sorted(list1)
list1

[12, 18, 19, 17, 13, 11, 14, 20, 20, 13, 15, 11]

In [112]:
list1 = [12, 18, 19, 17, 13, 11, 14, 20, 20, 13, 15, 11]

sorted_list = sorted(list1)
sorted_list

[11, 11, 12, 13, 13, 14, 15, 17, 18, 19, 20, 20]

In [113]:
list1 = [12, 18, 19, 17, 13, 11, 14, 20, 20, 13, 15, 11]

sorted_list = sorted(list1)
type(sorted_list)

list

In [114]:
list1 = [12, 18, 19, 17, 13, 11, 14, 20, 20, 13, 15, 11]

sorted_list = sorted(list1, reverse=True)
sorted_list

[20, 20, 19, 18, 17, 15, 14, 13, 13, 12, 11, 11]

In [115]:
list1 = [12, 18, 19, 17, 13, 11, 14, 20, 20, 13, 15, 11]

sorted_list = sorted(list1, reverse=False)
sorted_list

[11, 11, 12, 13, 13, 14, 15, 17, 18, 19, 20, 20]

In [116]:
list1 = [12, 18, 19, 17, 13, 11, 14, 20, 20, 13, 15, 11]

sorted_list = sorted(list1)
sorted_list

[11, 11, 12, 13, 13, 14, 15, 17, 18, 19, 20, 20]

### 3. listobject.reverse()

In [117]:
states = ['Assam', 'Bihar', 'Maharashtra', 'W. Bengal', 'CHennai']
states.reverse()
states

['CHennai', 'W. Bengal', 'Maharashtra', 'Bihar', 'Assam']

### reversed()

In [1]:
states = ['Assam', 'Bihar', 'Maharashtra', 'W. Bengal', 'CHennai']
sorted_states = list(reversed(states))
sorted_states

['CHennai', 'W. Bengal', 'Maharashtra', 'Bihar', 'Assam']

### reverse without inbuilt function

In [14]:
numbers = [9,3,55,77,22,88,56,23,45, 44]
start = 0
end = len(numbers) - 1
start, end

(0, 9)

In [27]:
numbers = [11,22,33,44,55,66,77,88,99, 100]
start = 0
end = len(numbers) - 1 
mid = (start + end)//2 + 1
# print(mid)
while mid > start :
    numbers[start], numbers[end] = numbers[end], numbers[start]
    
    start += 1
    end -= 1
numbers

[100, 99, 88, 77, 66, 55, 44, 33, 22, 11]

In [31]:
numbers = [11,22,33,44,55,66,77,88,99, 100]
start = 0
end = len(numbers) - 1 
# print(mid)
while True :
    numbers[start], numbers[end] = numbers[end], numbers[start]
    
    start += 1
    end -= 1
    if start == end or start+1 == end:
        break
numbers

[100, 99, 88, 77, 55, 66, 44, 33, 22, 11]

In [33]:
numbers = [11,22,33,44,55,66,77,88,99]
start = 0
end = len(numbers) - 1 
# print(mid)
while start < end :
    numbers[start], numbers[end] = numbers[end], numbers[start]    
    start += 1
    end -= 1
numbers

[99, 88, 77, 66, 55, 44, 33, 22, 11]

### 4. min()

In [3]:
numbers = [9,3,55,77,22,88,56,23,45]
print(min(numbers))

3

### min without inbuilt function

In [6]:
numbers = [9,55,77,22,88,5,56,23,45]
min_num = numbers[0]
for i in range(len(numbers)):
    if min_num > numbers[i]:
        min_num = numbers[i]
print('Min number is =', min_num)

Min number is = 5

In [7]:
numbers = [9,55,77,22,88,5,56,23,45]
min_num = numbers[0]
for i in numbers:
    if min_num > i:
        min_num = i
print('Min number is =', min_num)

Min number is = 5

### 5. max()

In [4]:
numbers = [9,3,55,77,22,88,56,23,45]
print(max(numbers))

88

### max without inbuilt function

In [10]:
numbers = [9,55,77,22,88,5,56,23,45]
max_num = numbers[0]
for i in range(len(numbers)):
    if max_num < numbers[i]:
        max_num = numbers[i]
print('Max number is =', max_num)

Max number is = 88

### both min and max

In [11]:
numbers = [9,55,77,22,88,5,56,23,45]
max_num = numbers[0]
min_num = numbers[0]
for num in numbers:
    if max_num < num:
        max_num = num
    if min_num > num:
        min_num = num
print('Max number is =', max_num)
print('Min number is =', min_num)

Max number is = 88
Min number is = 5

### 6. sum()

In [5]:
numbers = [9,3,55,77,22,88,56,23,45]
print(sum(numbers))

378

In [7]:
numbers = []
for i in range(1,101):
    numbers.append(i)
print(sum(numbers))

5050

In [8]:
n = 100
print(n * (n+1)//2)

5050

In [12]:
numbers = [9,3,55,77,22,88,56,23,45]
sum_num = 0
for num in numbers:
    sum_num += num
print('Sum of all numbers in list =', sum_num)

Sum of all numbers in list = 378

### check if list is palindrome or not

In [39]:
numbers = [1,2,88,4,5,4,3,2,1]
start = 0
end = len(numbers) - 1
boolean = True
while start < end :
    if numbers[start] != numbers[end]:
        print('Not Palindrome')
        boolean = False
        break
    start += 1
    end -= 1
if boolean:
    print('Is Palindrome')

Not Palindrome

In [43]:
numbers = [1,2,3,4,5,4,3,2,1]
start = 0
end = len(numbers) - 1
# boolean = True
while start < end :
    if numbers[start] != numbers[end]:
        print('Not Palindrome')
#         boolean = False
        break
    start += 1
    end -= 1
# if boolean:
#     print('Is Palindrome')
else:
    print('Is Palindrome')

Is Palindrome