### for loop

In [ ]:
syntax
for variable in iterable:

In [ ]:
iterable-
    - list
    - tuple
    - str
    - set
    - frozenset
    - dict

In [1]:
list1 = [1,2,3,4,5,6,7,8,9]
for i in list1:
    print(i)

1
2
3
4
5
6
7
8
9

In [2]:
list1 = [1,2,3,4,5,6,7,8,9]
for i in list1:
    print(i, end=',')

1,2,3,4,5,6,7,8,9,

In [4]:
list1 = [1,2,3,4,5,6,7,8,9]
for i in list1:
    print(i,i, sep=',')

1,1
2,2
3,3
4,4
5,5
6,6
7,7
8,8
9,9

In [6]:
list1 = [1,2,3,4,5,6,7,8,9]
for index in range(9):
    print(list1[index], end=' ')

1 2 3 4 5 6 7 8 9

In [7]:
list1 = [111,222,333,444,555,666,777,888,999]
for index in range(9):
    print(list1[index], end=' ')

111 222 333 444 555 666 777 888 999

In [8]:
list1 = [111,222,333,444,555,666,777,888,999]
for item in list1:
    print(item, end=' ')

111 222 333 444 555 666 777 888 999

## range()

In [ ]:
range(length)
range(start, end)
range(start, end, step)

In [ ]:
range(length)
 o to length-1
dafault values
    start = 0
    step = 1

In [11]:
for i in range(9):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8

In [13]:
for i in range(4):
    print(i, end=' ')

0 1 2 3

In [20]:
for i in range(10):
    print('Lets repeat this statement')

Lets repeat this statement
Lets repeat this statement
Lets repeat this statement
Lets repeat this statement
Lets repeat this statement
Lets repeat this statement
Lets repeat this statement
Lets repeat this statement
Lets repeat this statement
Lets repeat this statement

In [23]:
count = 1
for _ in range(10):
    print('Lets repeat this statement', count)
    count += 1

Lets repeat this statement 1
Lets repeat this statement 2
Lets repeat this statement 3
Lets repeat this statement 4
Lets repeat this statement 5
Lets repeat this statement 6
Lets repeat this statement 7
Lets repeat this statement 8
Lets repeat this statement 9
Lets repeat this statement 10

In [24]:
count = 1
for _ in range(10):
    print(count, 'Lets repeat this statement')
    count += 1

1 Lets repeat this statement
2 Lets repeat this statement
3 Lets repeat this statement
4 Lets repeat this statement
5 Lets repeat this statement
6 Lets repeat this statement
7 Lets repeat this statement
8 Lets repeat this statement
9 Lets repeat this statement
10 Lets repeat this statement

In [22]:
_marks = 78
print(_marks)

78

In [17]:

char = 'A'
for i in range(26):
    print(chr(ord(char) + i), end=' ')

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [16]:
ord('A')

65

In [18]:
ord('5')

53

In [19]:
chr(53)

'5'

In [ ]:
range(start, end)
end is excluded means range is from start to end-1

dafault values
step = 1

In [26]:
for i in range(23, 49):
    print(i, end=' ')

23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48

In [71]:
for i in range(23, 49):
    print(i, end=' ')

23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48

In [27]:
for i in range(49, 23):
    print(i, end=' ') # no output

In [28]:
for i in range(23, 23):
    print(i, end=' ') # no output

In [ ]:
range(start, end, step)

In [30]:
for i in range(1,10):
    print(i, end=' ')

1 2 3 4 5 6 7 8 9

In [31]:
for i in range(1,10, 1):
    print(i, end=' ')

1 2 3 4 5 6 7 8 9

In [32]:
for i in range(1,10, 2):
    print(i, end=' ')

1 3 5 7 9

In [36]:
for i in range(2,20, 2):
    print(i, end=' ')

2 4 6 8 10 12 14 16 18

In [37]:
for i in range(2,20, 2):
    print(i+1, end=' ')

3 5 7 9 11 13 15 17 19

In [39]:
for i in range(1,1000, 255):
    print(i, end=' ')

1 256 511 766

In [40]:
for i in range(1,10000, 255):
    print(i, end=' ')

1 256 511 766 1021 1276 1531 1786 2041 2296 2551 2806 3061 3316 3571 3826 4081 4336 4591 4846 5101 5356 5611 5866 6121 6376 6631 6886 7141 7396 7651 7906 8161 8416 8671 8926 9181 9436 9691 9946

In [41]:
counter = 0
for i in range(1,10000, 255):
    counter += 1
print(counter)

40

In [44]:
index = 0
for _ in range(10):
    print(index, end=' ')
     index += 1

IndentationError: unexpected indent (192829267.py, line 4)

In [45]:
index = 0
for _ in range(10):
 print(index, end=' ')
 index += 1

0 1 2 3 4 5 6 7 8 9

In [49]:
index = 0
for _ in range(10):
 print(index, end=' ')
index += 1
print('\nindex =', index)

0 0 0 0 0 0 0 0 0 0
index = 1

In [69]:
'''
A 
A b 
A b C 
A b C d 
A b C d E 
A b C d E f 
A b C d E f G 
A b C d E f G h 
A b C d E f G h I 
'''

char = 'A'
n = 10


for i in range(n):
    boolean = True
    for i in range(i):
        if boolean == True:
            print(chr(ord(char) + i), end=' ')
            boolean = False
        else:
            print(chr(ord(char) + i + 32), end=' ')
            boolean = True
    print()

A
A b
A b C
A b C d
A b C d E
A b C d E f
A b C d E f G
A b C d E f G h
A b C d E f G h I

In [54]:
print(ord('A') - ord('a'))

-32

In [62]:
print('Aman', 'Baman', 'Raman')

Aman Baman Raman

In [64]:
print('Aman', 'Baman', 'Raman', sep=' ')

Aman Baman Raman

In [65]:
print('Aman', 'Baman', 'Raman', sep='---->')

Aman---->Baman---->Raman